# macOS
.DS_Store

# Python
__pycache__/
*.py[cod]

# Virtual environments
venv/
.venv/
env/

# Jupyter
.ipynb_checkpoints/

# Model files
*.pt
*.pth
*.pkl

# Dataset files
data/FashionMNIST/raw/
*.csv

# Environment/secrets
.env
