# macOS
.DS_Store

# Python
__pycache__/
*.py[cod]

# Virtual environments
venv/
.venv/
env/

# Jupyter
.ipynb_checkpoints/

# Raw FashionMNIST download
data/FashionMNIST/raw/

# Environment/secrets
.env
